@import '~@angular/material/theming';

@include mat-core();

$cilts-primary: mat-palette($mat-green, 900);
$cilts-accent: mat-palette($mat-grey, 900, 800, 900);
$cilts-warn: mat-palette($mat-red);

$cilts-theme: mat-light-theme($cilts-primary, $cilts-accent, $cilts-warn);

@include angular-material-theme($cilts-theme);