<form class="dialog e-width">
    <div class="d-header">
        <span>Añadir empleado</span>
    </div>
    <div class="d-body">
        <div class="grid">
            <div class="col">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Nombre">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Matrícula">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Teléfono">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Área">
                </mat-form-field>
            </div>
            <div class="col">
                <span>Foto</span>
            </div>
        </div>
    </div>
    <div class="d-footer">
        <button type="button" mat-button mat-dialog-close>Cerrar</button>
        <button type="submit" mat-flat-button color="primary">Añadir</button>
    </div>
</form>