@import '../../../../assets/scss/components/vars';
@import '../../../../assets/scss/components/titles';

section {
    width: 100%;
}

.info-container {
    width: 100%;
    padding: 20px;
    background-color: white;
}

.list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin-bottom: 20px;
    &:last-of-type {
        margin-bottom: 0px;
    }
}

.card {
    width: calc(100% / 4 - 15px);
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    background-color: $main;
    color: white;
    border-radius: 5px;
    i {
        font-size: 75px;
        margin-bottom: 20px;
        &.checked {
            font-size: $fs-med;
            margin-bottom: 0px;
            position: absolute;
            right: 10px;
            top: 10px;
        }
    }
    span {
        font-weight: 700;
    }
}